<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Feuchte_Rapport.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <!--<connectionStrings>
        <add name="Feuchte_Rapport.Properties.Settings.LaPass_ConnectionString"
            connectionString="Data Source=2217DBDO01;Initial Catalog=LaPass;Persist Security Info=True;User ID=lapass;Password=!pwLapass"
            providerName="System.Data.SqlClient" />
    </connectionStrings>-->
      <connectionStrings>
            <add name="LaPass_ConnectionString" connectionString="Data Source=2217DBDO01;Initial Catalog=LaPass;Persist Security Info=True;User ID=lapass;Password=!pwLapass"
                  providerName="System.Data.SqlClient" />
            <add name="Feuchte_Rapport.Properties.Settings.LaPass_ConnectionString"
                  connectionString="Data Source=2217DBDO01;Initial Catalog=LaPass;Persist Security Info=True;User ID=lapass;Password=!pwLapass"
                  providerName="System.Data.SqlClient" />
      </connectionStrings>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>
    <applicationSettings>
        <Feuchte_Rapport.Properties.Settings>
            <setting name="excelPath" serializeAs="String">
                <value>\\vadstahl\Wanalyse\Analysen_Hochofen\Einblaskohle\Feinkohle</value>
            </setting>
            <setting name="LocalDrive" serializeAs="String">
                <value>X:</value>
            </setting>
            <setting name="Facility" serializeAs="String">
                <value>Admin</value>
            </setting>
            <setting name="excelFileName" serializeAs="String">
                <value>Analyse Feinkohle.xls</value>
            </setting>
        </Feuchte_Rapport.Properties.Settings>
    </applicationSettings>
</configuration>
